@import '../Variables';

.calendar__nav {
  display: flex;

  .calendar__nav__month {
    flex: 0 100%;
  }

  .calendar__nav__arrow {
    margin-top: .15em;
    flex: 0 15%;
    cursor: pointer;
  }
}

.calendar__content {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: repeat(7, minmax(25px, 40px));
  grid-gap: 20px;
  box-sizing: border-box;
}

.calendar__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;

}

.calendar__number {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;

  &:nth-child(7n) {
    font-weight: 700;
  }

  &--current,
  &:hover {
    border: none;
    color: #D7385E !important;
    font-weight: 700;
    font-size: 18px;
  }

  &--newmonth {
    opacity: 10%;
  }
}

