@import '../Variables';

.navbar {
  position: fixed;
  top: 0;
  left: -100%;

  display: flex;
  flex-direction: column;
  align-content: center;

  height: 100vh;
  width: 100%;
  z-index: 110;

  padding-top: 3em;

  font-size: 1.25em;
  background-color: var(--clr-lighter-dark);

  transition: 850ms;

  &.navbar--active {
    left: 0;
    transition: 350ms;
  }

  .navbar__logo {
    margin: 1em auto 0;
    width: 190px;
    cursor: pointer;
  }

  .navbar__menu {
    margin-top: 5em;
    list-style: none;

    .navbar__item {
      display: flex;
      justify-content: flex-start;
      align-content: center;

      width: 100%;
      padding: 1.5em 4.25em;

      cursor: pointer;

      .navbar__item__span {
        padding-top: .1em;
        margin-left: 1.5em;
      }

      .navbar__item__icon--active {
        color: #D7385E;
      }

      @media screen and (min-width: $break-tablet-s) {
        padding: 1.5em 5.25em;
      }
    }

    .navbar__item__icon {
      width: 26.5px;
    }

    .navbar__item--active {
      color: #D7385E;
      font-weight: 500;
      background-color: #373B3E;
    }
  }

  @media screen and (min-width: $break-desktop-s) {
    left: 0;
    position: static;

    .navbar__logo {
      margin: .1em auto 0;
    }
  }
}
