@import '../Variables';

.tasktile {
  background-color: var(--clr-orange);
  color: var(--clr-black);
  padding: .75em 3em .75em 1em;
  border-radius: 1em;
  cursor: pointer;
  width: 240px;

  &:nth-child(n+2) {
    margin-top: 1.25em;
  }

  .tasktile__wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;

    .tasktile__title {
      padding-bottom: .25em;
    }

    .tasktile__desc {
      padding-bottom: 1em;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 200px;
      max-height: 35px;
    }

    .tasktile__bottom {
      display: flex;

      .tasktile__hour {
        font-size: 14px;
        font-weight: 500;
        color: var(--clr-black);
        opacity: 0.7;
        flex: 0 0 100%;
      }

      .tasktile__icon {
        margin-left: .5em;
        color: var(--clr-black);
        opacity: .5;
        transition: opacity .25s ease-in-out;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }

        &:nth-child(2) {
          margin: 0;
        }
      }
    }
  }
}
