@import '../Variables';

.tasks {
  position: relative;

  .tasks__nav {
    display: flex;
    justify-content: center;
    align-content: center;

    .tasks__icons {
      cursor: pointer;
    }

    .tasks__title {
      flex: 0 100%;
      padding: .1em 0 0 .75em;
    }
  }

  .tasks__components {
    position: absolute;
    z-index: 2;
    top: 3.215em;
    right: -.5em;
  }
}