//media breakpoints
$break-tablet-s: 768px;
$break-desktop-s: 1200px;
$break-ip-xr: 414px;

:root {
  //colors
  --clr-light: #fff;
  --clr-dark: #31455F;
  --clr-black: #000;
  --clr-lighter-dark: #2B2F33;
  --clr-lightgray: #B4B5B9;
  --clr-gray: #56585C;
  --clr-orange: #FEAC21;
}
